<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Portal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
        .nav-link {
            padding-left: 12px !important;
            padding-right: 12px !important;
            --border-color: purple;
            --border-width: 3px;
            --bottom-distance: 0px;
            display: inline-block;
            background-image: linear-gradient(var(--border-color), var(--border-color));
            background-size: 0 var(--border-width);
            background-repeat: no-repeat;
            transition: background-size 0.3s;
            margin: 5px 0;
            background-position: 50% calc(100% - var(--bottom-distance));
        }

        .nav-link:hover {
            background-size: 100% var(--border-width);
            color: purple;
        }

        #nav-login-btn {
            border-radius: 100px;
            border: ridge red;
            color: red;
            background: white;
            padding-left: 20px;
            padding-right: 20px;

        }

        @media (min-width: 780px) {
            #details-table {
                margin-top: 10%;
            }
        }
    </style>
</head>

<body>


    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="./#" style="padding: 30px;">
                    <h3 class="display-6">Document Generator</h3>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                    id="nav-controller-btn">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto ">
                        <li class="nav-item">
                            <a class="nav-link" href="./">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./#requests">CERTIFICATES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./users">USERS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./logout" id="nav-login-btn">
                                LOGOUT
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <div class="container mb-2" style="max-width: 800px; border: ridge; border-radius: 20px; padding: 10px;">
        <center>
            <h3>
                Certificate Request for:- {{ user.regNo }}
            </h3>
        </center>
        <table class="table table-stripped table-hover">
            <tbody>
                <table class="table table-stripped table-hover">
                    <tr>
                        <th>Name</th>
                        <td>{{ user.name}}</td>
                    </tr>
                    <tr>
                        <th>Registration No</th>
                        <td>{{ user.regNo }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Mobile</th>
                        <td>{{ user.mobile }}</td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td>{{ user.gender }}</td>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <td>{{ user.category }}</td>
                    </tr>
                    <tr>
                        <th>Caste</th>
                        <td>{{ user.caste }}</td>
                    </tr>
                    <tr>
                        <th>Sub Caste</th>
                        <td>{{ user.sub_caste }}</td>
                    </tr>
                    <tr>
                        <th>Nationality</th>
                        <td>{{ user.nationality }}</td>
                    </tr>
                    <tr>
                        <th>Division</th>
                        <td>{{ user.div }}</td>
                    </tr>
                    <tr>
                        <th>Year</th>
                        <td>{{ user.year }}</td>
                    </tr>
                    <tr>
                        <th>Degree</th>
                        <td>{{ user.degree }}</td>
                    </tr>
                    <tr>
                        <th>Duration</th>
                        <td>{{ user.duration }}</td>
                    </tr>
                    <tr>
                        <th>Requested Certificate</th>
                        <td>{{ certificate.name }}</td>
                    </tr>
                    <tr>
                        <th>Requested On</th>
                        <td>{{ certificate.request_date }}</td>
                    </tr>
                    <tr>
                        <th>Status Updated On</th>
                        <td>{{ certificate.last_update_date }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>{{ certificate.status }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <form action="" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="id" id="id" value="{{ certificate.id }}">
                                <div class="form-group">
                                    <label for="comment">Add Comment On Request</label>
                                    <textarea name="comment" id="comment" cols="30" rows="10" class="form-control" placeholder="Enter Comment">{{ certificate.comment }}</textarea>
                                </div> 
                                <br>
                                <center>
                                    <input type="submit" value="Reject" name="reject" class="btn btn-danger">
                                    <input type="submit" value="Accept" name="accept" class="btn btn-success">
                                </center>
                            </form>
                        </td>
                    </tr>
                </table>
            </tbody>
        </table>
    </div>

</body>

</html>